<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        [v-cloak] {
            display: none;
        }

        .list {
            display: flex;
            border: 1px solid burlywood;
            color: burlywood;
            align-items: center;
        }

        .list li {
            flex: 1;
            text-align: center;
            padding: 10px 0;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <div v-if="goodslist.length" style="width: 1000px;margin: 100px auto; ">
            <ul class="list" style="margin-top:20px;">
                <li><input @change=" checkAll" type="checkbox" v-model="isCheckAll">全选</li>
                <li>商品</li>
                <li>单价</li>
                <li>数量</li>
                <li>金额</li>
                <li>操作</li>
            </ul>
            <div style="margin-top:20px;border: 1px solid burlywood; padding:10px;">
                <ul class="list" v-for="item in goodslist" style="border:none;border-bottom: 1px solid #ccc;">
                    <li><input @change="changeChecked" type="checkbox" v-model="item.isChecked"></li>
                    <li>
                        <div>
                            {{item.name}}
                        </div>
                    </li>
                    <li style="color: chocolate;">{{item.price | fixed2 | fmtRMB}}</li>
                    <li>
                        <button :disabled="item.count===1" style="padding:5px;" @click="item.count--">-</button>
                        <input @blur="changeCount(item,$event)" @keydown.enter="hangeCount(item, $event)" type="text"
                            :value="item.count" style="width:30px;text-align: center;">
                        <button :disabled="item.count===limitCount" style="padding:5px;"
                            @click="item.count++">+</button>
                    </li>
                    <li>{{calc(item) | fixed2| fmtRMB}}</li>
                    <li>
                        <div @click="del(item.id)" style="width: 100px; padding: 10px 20px;border:1px solid burlywood">
                            删除</div>
                    </li>
                </ul>
            </div>
            <button @click="goodslist=[]">全部清空</button>
            <h1>总价:{{totalPrice | fixed2 | fmtRMB}}</h1>
        </div>
        <h1 v-else>您的购物车空空如也</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: "#app",
            filters: {
                fixed2(val) {
                    return val.toFixed(2)
                },
                fmtRMB(val) {
                    return "¥ " + val
                }
            },
            computed: {
                totalPrice() {
                    if (!this.goodslist.length) return 0
                    // return this.goodslist.map(r => r.price * r.count).reduce((a, b) => a + b)
                    let total=0
                    this.goodslist.forEach(r=>{
                        if(r.isChecked)
                        total+=r.price*r.count
                    })
                    return total
                }
            },
            methods: {
                checkAll() {
                    this.goodslist.forEach(r => {
                        r.isChecked = this.isCheckAll
                    });
                },
                changeChecked() {
                    this.isCheckAll = this.goodslist.every(r => r.isChecked)
                },
                del(id) {
                    let isComfirm = confirm('确定删除吗？')
                    if (isComfirm)
                        this.goodslist = this.goodslist.filter(r => r.id !== id)
                },
                changeCount(item, e) {
                    let val = e.target.value
                    if (isNaN(val)) val = 1
                    if (!Number.isInteger(val)) val = Math.floor(val)
                    val = parseInt(val)
                    if (val > this.limitCount) val = this.limitCount
                    if (val < 1) val = 1
                    item.count = val
                    e.target.value = val
                },
                calc(item) {
                    return item.price * item.count
                }
            },
            data() {
                return {
                    isCheckAll: false,
                    limitCount: 10,
                    goodslist: [
                        {
                            id: 1,
                            name: "chestnut ccream 暗香",
                            price: 200,
                            count: 1,
                            isChecked: false
                        },
                        {
                            id: 2,
                            name: "chestnut ccream 冰淇淋",
                            price: 300,
                            count: 2,
                            isChecked: false
                        },
                    ]
                }
            },
        })
    </script>
</body>

</html>