<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
   <fieldset>
       <legend>添加</legend>
       <div>
           图片<input type="text" v-model="img" >
       </div>
       <div>
        昵称<input type="text" v-model="nickname">
    </div>
    <div>
        <button @click="add">添加</button>
    </div>
   </fieldset>
    <ul>
        <li  v-for="(item,i) in arr">
            <img v-bind:src="item.img" :style="{width:w,height: '150px'}">
           <a :href="'detail.html?name='+item.name">{{item.name}}</a>
           <button @click="del(i)">删除</button>
        </li>
    </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        // Vue.config.devtools = false
        Vue.config.productionTip=false
        let vm=new Vue({
            el:"#app",
          data() {
              return {
                  w:'100px',
                  img:"",
                  nickname:"",
                  arr:[
                      {img:"https://dss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=1292984722,4018101687&fm=26&gp=0.jpg",
                      name:'simba'
                      },
                      {
                        img:"https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2566400585,2210473557&fm=26&gp=0.jpg",
                        name:'ace'
                      },
                      {
                        img:"https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1441492563,2342931709&fm=26&gp=0.jpg",
                        name:'roger'
                      }
                  ]
              }
          },
          methods: {
              del(i){
                this.arr.splice(i,1)
              },
              add(){
                this.arr.unshift({
                    img:this.img,
                    name:this.nickname
                })
              },
          },
        })
    </script>
</body>
</html>